<%= react_component 'Word', {
  word: @word,
  sentenceCount: @word.sentence_count,
  wordCount: @word.word_count,
  charCount: @word.char_count,
  nounCount: @word.noun_count,
  verbCount: @word.verb_count,
  adjCount: @word.adj_count,
  detCount: @word.det_count,
  punctCount: @word.punct_count,
  mostCommonCharCount: @word.most_common_char
} %>

<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <h3><%= @word.sentence %></h3>
    </div>
    <div class="col-md-4"></div>
  </div>

  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <p>Number of sentences: <%= @word.sentence_count %></p>
    </div>
    <div class="col-md-4"></div>
  </div>

  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <p>Number of words: <%= @word.word_count %></p>
    </div>
    <div class="col-md-4"></div>
  </div>

  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <p>Number of characters: <%= @word.char_count %></p>
    </div>
    <div class="col-md-4"></div>
  </div>

  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <p>Number of nouns: <%= @word.noun_count %></p>
    </div>
    <div class="col-md-4"></div>
  </div>

  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <p>Number of verbs: <%= @word.verb_count %></p>
    </div>
    <div class="col-md-4"></div>
  </div>


  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <p>Number of adjectives: <%= @word.adj_count %></p>
    </div>
    <div class="col-md-4"></div>
  </div>

  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <p>Number of determiners: <%= @word.det_count %></p>
    </div>
    <div class="col-md-4"></div>
  </div>

  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <p>Number of punctuation marks: <%= @word.punct_count %></p>
    </div>
    <div class="col-md-4"></div>
  </div>

  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <p>Most commonly used letter: <%= @word.most_common_char %></p>
    </div>
    <div class="col-md-4"></div>
  </div>

  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <%= link_to "Home", root_path %>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
